html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* horizental scroll prevent up */

.letter {
  font-family: Source Sans Pro;
  font-weight: bolder;
}


.form_effect {
  font-family: Source Sans Pro;
  opacity: 0.7;
}

.form_effect :focus {
  opacity: 1;
}

.form_effect :hover {
  opacity: 1;
}

.nav-pilloss .nav-link {
  border-radius: 0.25rem;
}

/*my own Pills YEAH :D*/

.nav-pilloss .nav-link.active,
.nav-pilloss .show>.nav-link {
  color: #fff;
  background-color: #404850;
}

.noresised {
  resize: none;
}

/*dark color into rgb */
.half-opacity {
  background-color: rgba(52, 58, 64, 0.8);
}


/*  Image zoomm on click css start  */
/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.text-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
.text-img {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* image zoommend*/